
packages/EntityFramework.6.2.0/content/net40/Web.config.transform

packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.dll

packages/EntityFramework.6.2.0.deleteme

Portal.Test/bin/Debug/EntityFramework.SqlServer.dll

Portal.Test/bin/Debug/EntityFramework.SqlServer.xml

Portal.Test/bin/Debug/EntityFramework.dll

Portal.Test/bin/Debug/EntityFramework.xml

Portal.Test/bin/Debug/Portal.Test.dll
